include *.md
include LICENSE

graft pygdbmi

exclude example.py
exclude .flake8
exclude noxfile.py
exclude mkdocs.yml
exclude __pycache__
exclude mypy.ini
exclude *.in
exclude *.txt
exclude *.pyc
exclude *.sw[po]
exclude *~

prune tests
prune docs
