include *.md
include LICENSE

graft pygdbmi

exclude example.py
exclude .flake8
exclude noxfile.py
exclude mkdocs.yml
global-exclude __pycache__
exclude mypy.ini
exclude *.in
exclude *.txt
global-exclude *.pyc
global-exclude *.sw[po]
global-exclude *~

prune tests
prune docs
